.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../src/assets/wavy_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
